[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# OS
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# Unity cache
obj/

# Addressables
ServerData/